#root {
	height: 100vh;
	width: 100vw;
}

body {
	margin: 0px;
	color: #e5e5e5;
	font-family: sans-serif;
	text-align: center;
	background-color: #292929;
	overflow: hidden;
}

button {
	cursor: pointer;
	background: none;
	border: none;
}

::-webkit-scrollbar {
	-webkit-appearance: none;
	width: 6px;
	height: 7px;
}

::-webkit-scrollbar-corner {
	display: none;
}

::-webkit-scrollbar-thumb {
	border-radius: 4px;
	background-color: #404040;
}
