.element {
	all: unset;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #292929;
	padding: 10px;
	cursor: grab;

	&:hover {
		color: #fff68a;
	}
}

.overlay {
	background-color: #fff68a;
	color: #292929;
	opacity: 0.7;

	&:hover {
		color: #292929;
	}
}
